Django>=1.5.1
django_extensions>=1.1.1
django-forms-builder>=0.8.4
South>=0.8.1
django_annoying>=0.7.7
django-ace>=0.3.1
-e git+git://github.com/Soaa-/django-nested-inlines.git#egg=django-nested-inlines
django-admintheme>=0.2
django-browserid>=0.9
