{% load i18n %}
{% load static from staticfiles %}
{% load browserid %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static "css/pure.css" %}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{% static "css/crowdata.css" %}" type="text/css" media="screen" />
  {% browserid_css %}
  <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
  <script src="{% static "js/jquery-2.0.2.js" %}"></script>
  <script src="{% static "js/crowdata.js" %}"></script>
  {% block scripts %}
  {% endblock %}
  <title>Crowdata</title>
</head>
<body>
  {% browserid_info %}
  <div class="pure-g">
    <div class="pure-u-4-5" id="header">
      <img src="{% static "img/crowdata.png" %}"><h1>crowdata</h1>
    </div>
    <div class="pure-u-1-5" id="authentication">
      {% if user.is_authenticated %}
        {% browserid_logout text='Logout' %}
      {% else %}
        {% browserid_login text='Login' color='dark' %}
      {% endif %}
    </div>
    {% block content %}{% endblock %}
  </div>
  {% browserid_js %}
</body>
</html>
