{% extends "base.html" %}
{% load crowdataapp_tags %}
{% load static from staticfiles %}
{% load i18n %}
{% block content %}
<div class="pure-u-2-3">
  <h2><strong>{{document_set.name}}</strong></h2>
  {% if document_set.description %}
  <p>{{document_set.description}}</p>
  {% endif %}
  <p><a href="{% url 'new_transcription' document_set.slug %}">{% trans "Give me one document!" %}</a></p>
  <h3>{% trans "Who's reviewed the most documents" %}</h3>
  <table class="pure-table">
    <thead>
      <tr>
        <th>#</th>
        <th>{% trans "User" %}</th>
        <th>{% trans "Score" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for user in document_set.leaderboard|slice:":10" %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ user }}</td>
        <td>{{ user.num_entries }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
